<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>West Quay Restaurants - Contact Us</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="/">Home</a>
                    </li>
                    <li role="presentation"><a href="Top3.html">Top 3</a>
                    </li>
                    <li role="presentation" class="active"><a href="Contact.html">Contact Us</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">West Quay Restaurants - Contact Us</h3>
        </div>
 
        <div class="jumbotron">
            <h1>Contact Form</h1>
            <p class="lead"></p>
            <p></a>
            </p>
        </div>
 
        <div class="row marketing">
            <div class="col-lg-6">
                <form action="/Contact/Post.html" method="post">
                  Name:<br>
                  <input type="text" name="name"><br>
                  Email:<br>
                  <input type="text" name="email"><br><br>
                  Phone Number:<br>
                  <input type="text" name="phonenumber"><br><br>
                  Description:<br>
                  <input type="text" name="description"><br><br>
                  <input type="submit" value="Submit">
                </form>
            </div> 
        </div>
 
        <footer class="footer">
            <p>&copy; The West Quay Association of Restaurants</p>
        </footer>
 
    </div>
