<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>West Quay Restaurants - Top 3 </title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="/">Home</a>
                    </li>
                    <li role="presentation" class="active"><a href="Top3.html">Top 3</a>
                    </li>
                    <li role="presentation"><a href="Contact.html">Contact Us</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">West Quay Restaurants - Top 3</h3>
        </div>
 
        <div class="jumbotron">
            <h1>This is our top 3 restaurants in West Quay</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="Contact.html" role="button">Contact US</a>
            </p>
        </div>
 
        <div class="row marketing">
            <div class="col-lg-6">
                <h4>No. 1 Cove</h4>
                <p>Official Website: https://www.visitcove.com/</p>
                <p>Cove is the number one rated restaurant in Southampton, its a bar restaurant with a seafood theme situated in Shamrock Quay Southampton. The cuisine also includes a variety of vegetarian, gluten free and vegan options. Cove serves breakfast, lunch, dinner and brunch and has been highlights as being good for bar scene, child-friendly, groups, romantic and business meetings.<p>
                <p>Rating 4.8 out of 5<p>
                <br>
                <h4>No. 2 Enoteca</h4>
                <p>Official Website: http://www.enotecasouthampton.com/<p>
                <p>Enoteca is the third highest rated restaurant in Southampton and provides an Italian-inspired Charcuterie and Small Plates in an informal setting, with delicious wines, beers, ciders, softs and more on a well-curated drinks list. Along with their salami e Formaggi (cured meats and cheese) imported from Italy and tapas-style sharing plates served with informal simplicity. Their approach is to create a relaxed ambiance for friends and family to share great good and quality time with each other.<p>
                <p>Rating 4.7 out of 5<p>
                <br>
                <h4>No. 3 Quay FIFTEEN</h4>
                <p>Official Website: http://www.quayfifteen.co.uk/<p>
                <p>Quay FIFTEEN is the number 4 out of 706 restaurants in Southampton, plus have received a certificate of excellence from Trip Advisor. They're a relaxed fine dining restaurant positioned in a tranquil affluent MDL Marina. They offer freshly cooked food and they are proud to use local suppliers as much as possible. They have an "Open Theatre" kitchen for customers to feast their eyes and ears upon and also have a well stocked bar with skilled Mixologists to create bespoke beverages. They're an experienced Team that wish to push Southampton's culinary and beverage boundaries. They are open 7 days a week and reservations are becoming a must to avoid disappointment. They look forward to welcoming you to our restaurant!<p>
                <p>Rating 4.7 out of 5<p>
            </div> 
        </div>
 
        <footer class="footer">
            <p>&copy; The West Quay Association of Restaurants</p>
        </footer>
 
    </div>
